<a href="https://colab.research.google.com/github/nikhilmaddirala/mcit-hackathon-2020/blob/nm-dev/test01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -Uqq fastbook
import fastbook
fastbook.setup_book()

     |████████████████████████████████| 358kB 4.1MB/s
     |████████████████████████████████| 51kB 5.3MB/s
     |████████████████████████████████| 61kB 6.6MB/s
     |████████████████████████████████| 1.0MB 13.3MB/s
     |████████████████████████████████| 92kB 8.4MB/s
     |████████████████████████████████| 40kB 5.1MB/s
     |████████████████████████████████| 51kB 6.5MB/s
     |████████████████████████████████| 61kB 6.8MB/s
     |████████████████████████████████| 2.7MB 17.6MB/s
Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [2]:
from fastbook import *
from fastai.vision.widgets import *

In [3]:
base_dir = "/content/gdrive/My Drive/mcit-hackathon-2020/"
base_path = Path(base_dir)

data_dir = base_dir + 'data/'
data_path = Path(data_dir)

In [4]:
imdb_meta_url = 'https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/static/imdb_meta.tar'
imdb_faces_url = 'https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/static/imdb_crop.tar'

In [24]:
# # Download images (one time)
# ! wget -c -P "/content/gdrive/My Drive/mcit-hackathon-2020/data/" $imdb_meta_url
# ! wget -c -P "/content/gdrive/My Drive/mcit-hackathon-2020/data/" $imdb_faces_url

--2020-08-26 16:26:26--  https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/static/imdb_meta.tar
Resolving data.vision.ee.ethz.ch (data.vision.ee.ethz.ch)... 129.132.52.162
Connecting to data.vision.ee.ethz.ch (data.vision.ee.ethz.ch)|129.132.52.162|:443... connected.
HTTP request sent, awaiting response... 416 Requested Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

--2020-08-26 16:26:28--  https://data.vision.ee.ethz.ch/cvl/rrothe/imdb-wiki/static/imdb_crop.tar
Resolving data.vision.ee.ethz.ch (data.vision.ee.ethz.ch)... 129.132.52.162
Connecting to data.vision.ee.ethz.ch (data.vision.ee.ethz.ch)|129.132.52.162|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7012157440 (6.5G) [application/x-tar]
Saving to: ‘/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_crop.tar’

imdb_crop.tar       100%[===================>]   6.53G  9.68MB/s    in 11m 44s

2020-08-26 16:38:13 (9.50 MB/s) - ‘/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_crop.tar’ saved [7012157440/7012157440]

In [27]:
# # Untar data (one time)
# import tarfile
# tarfile.open('/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_meta.tar').extractall('/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_meta/')

In [5]:
data_path.ls()

(#3) [Path('/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_meta.tar'),Path('/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_crop.tar'),Path('/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_meta')]

In [6]:
path = data_path/'imdb_meta/imdb'
path.ls()

(#1) [Path('/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_meta/imdb/imdb.mat')]

In [7]:
import scipy.io
mat = scipy.io.loadmat('/content/gdrive/My Drive/mcit-hackathon-2020/data/imdb_meta/imdb/imdb.mat')
arr = mat['imdb']
arr

{'__globals__': [],
 '__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sun Jan 17 11:30:27 2016',
 '__version__': '1.0',
 'imdb': array([[(array([[693726, 693726, 693726, ..., 726831, 726831, 726831]], dtype=int32), array([[1968, 1970, 1968, ..., 2011, 2011, 2011]], dtype=uint16), array([[array(['01/nm0000001_rm124825600_1899-5-10_1968.jpg'], dtype='<U43'), array(['01/nm0000001_rm3343756032_1899-5-10_1970.jpg'], dtype='<U44'),
         array(['01/nm0000001_rm577153792_1899-5-10_1968.jpg'], dtype='<U43'), ..., array(['08/nm3994408_rm926592512_1989-12-29_2011.jpg'], dtype='<U44'),
         array(['08/nm3994408_rm943369728_1989-12-29_2011.jpg'], dtype='<U44'), array(['08/nm3994408_rm976924160_1989-12-29_2011.jpg'], dtype='<U44')]], dtype=object), array([[1., 1., 1., ..., 0., 0., 0.]]), array([[array(['Fred Astaire'], dtype='<U12'), array(['Fred Astaire'], dtype='<U12'), array(['Fred Astaire'], dtype='<U12'), ..., array(['Jane Levy'], dtype='<U9'),
         array(['Jane Levy'], dtype='<U9'), array(['Jane Levy'], dtype='<U9')]], dtype=object), array([[array([[1072.926,  161.838, 1214.784,  303.696]]), array([[477.184, 100.352, 622.592, 245.76 ]]), array([[114.96964309, 114.96964309, 451.68657236, 451.68657236]]), ...,
         array([[  1,   1, 453, 640]], dtype=uint16), array([[144.75225472, 126.76472288, 305.78804127, 287.80050943]]), array([[457.524,  41.748, 518.016, 102.24 ]])]], dtype=object), array([[1.45969291, 2.5431976 , 3.45557949, ...,       -inf, 4.45072452, 2.13350269]]), array([[1.11897336, 1.85200773, 2.98566022, ...,        nan,        nan,        nan]]), array([[array(["'Lee' George Quinones"], dtype='<U21'), array(["'Weird Al' Yankovic"], dtype='<U19'), array(['2 Chainz'], dtype='<U8'), ..., array(['Éric Caravaca'], dtype='<U13'),
         array(['Ólafur Darri Ólafsson'], dtype='<U21'), array(['Óscar Jaenada'], dtype='<U13')]], dtype=object), array([[6488, 6488, 6488, ..., 8410, 8410, 8410]], dtype=uint16))]],
       dtype=[('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O'), ('celeb_names', 'O'), ('celeb_id', 'O')])}

In [117]:
# Attributes
arr[0].dtype

dtype([('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O'), ('celeb_names', 'O'), ('celeb_id', 'O')])

In [138]:
columns=['dob', 'photo_taken', 'full_path', 'gender', 'name', 'face_location', 'face_score', 'second_face_score', 'celeb_names', 'celeb_id',]

In [164]:
nrows = len(arr[0][0][0][0])
nrows

460723

In [169]:
# Create dataframe
df = pd.DataFrame(columns=columns)
for i in range(100): # TODO: Change 100 to nrows to get the full dataframe!
  dob = arr[0][0][0][0][i]
  photo_taken = arr[0][0][1][0][i]
  full_path = arr[0][0][2][0][i][0]
  gender = arr[0][0][3][0][i]
  name = arr[0][0][4][0][i][0]
  face_location = arr[0][0][5][0][i][0]
  face_score = arr[0][0][6][0][i]
  second_face_score = arr[0][0][7][0][i]
  celeb_names = arr[0][0][8][0][i]
  celeb_id = arr[0][0][9][0][i]
  df.loc[i] = [dob, photo_taken, full_path, gender, name, face_location, face_score, second_face_score, celeb_names, celeb_id]
df

,dob,photo_taken,full_path,gender,name,face_location,face_score,second_face_score,celeb_names,celeb_id
0,693726,1968,01/nm0000001_rm124825600_1899-5-10_1968.jpg,1.0,Fred Astaire,"[1072.926, 161.838, 1214.7839999999999, 303.69599999999997]",1.459693,1.118973,['Lee' George Quinones],6488
1,693726,1970,01/nm0000001_rm3343756032_1899-5-10_1970.jpg,1.0,Fred Astaire,"[477.184, 100.352, 622.592, 245.76]",2.543198,1.852008,['Weird Al' Yankovic],6488
2,693726,1968,01/nm0000001_rm577153792_1899-5-10_1968.jpg,1.0,Fred Astaire,"[114.96964308962852, 114.96964308962852, 451.68657235851407, 451.68657235851407]",3.455579,2.985660,[2 Chainz],6488
3,693726,1968,01/nm0000001_rm946909184_1899-5-10_1968.jpg,1.0,Fred Astaire,"[622.8855056426588, 424.21750383700805, 844.339007674016, 645.6710058683652]",1.872117,NaN,[50 Cent],6488
4,693726,1968,01/nm0000001_rm980463616_1899-5-10_1968.jpg,1.0,Fred Astaire,"[1013.8590023603723, 233.8820422075853, 1201.5861278029422, 421.60916765015514]",1.158766,NaN,[A Martinez],6488
...,...,...,...,...,...,...,...,...,...,...
95,699680,1978,06/nm0000006_rm469283328_1915-8-29_1978.jpg,0.0,Ingrid Bergman,"[1200.1484360396703, 287.3100085808739, 1711.5720514852433, 798.7336240264468]",3.472309,1.327453,[Adam Buxton],7820
96,702820,1972,08/nm0000008_rm1221625088_1924-4-3_1972.jpg,1.0,Marlon Brando,"[1, 1, 1023, 878]",-inf,NaN,[Adam C. Edwards],12843
97,702820,1972,08/nm0000008_rm1238402304_1924-4-3_1972.jpg,1.0,Marlon Brando,"[325.09286624491943, 232.50147588922817, 740.7311228455302, 648.1397324898389]",4.157367,NaN,[Adam Campbell],12843
98,702820,1972,08/nm0000008_rm1271956736_1924-4-3_1972.jpg,1.0,Marlon Brando,"[1, 1, 722, 1023]",-inf,NaN,[Adam Carolla],12843
99,702820,1972,08/nm0000008_rm1288733952_1924-4-3_1972.jpg,1.0,Marlon Brando,"[1, 1, 818, 1023]",-inf,NaN,[Adam Cheng],12843